<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
      <controlSources>
          <source mode="on" namespace="Sitecore.Support.Shell.Applications.ContentEditor" assembly="Sitecore.Support.150958.301026" prefix="content" patch:before="source[@namespace='Sitecore.Shell.Applications.ContentEditor']"/>
      </controlSources>
      <commands>
          <command name="item:publish" type="Sitecore.Support.Shell.Framework.Commands.PublishItem, Sitecore.Support.150958.301026" patch:instead="*[@type='Sitecore.Shell.Framework.Commands.PublishItem,Sitecore.Kernel']" />
      </commands>
  </sitecore>
</configuration>